.contact {
    margin-bottom: 20px;
    .title {
        @include header;
    }
    .contact-grid {
        display: flex;
        gap: 20px;
        margin-top: 15px;
    }

    .contact-button {
        background-color: #1b262c;
        color : rgba(187,225,250,0.75);
        border-radius: 10px;
        border-width: 0px;
    }
    
    .left-column, .right-column {
        flex: 1;
    }
    .contact-item {
        display: flex;
        align-items: center;
        svg {
            width: 18px;
            display: inline-block;
            color: var(--fg-color);
        }
        a {
            text-decoration: none;
            padding-top: 4px;
            padding-left: 4px;
            @include body-text;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    @media (max-width: 576px) {
        .contact-grid {
            flex-direction: column;
        }
    }
}
